/*
====================================
CarWashSys
Versão 1.0
Arquivo principal de estilos
====================================
*/
/*
====================================
GERAL
====================================
*/

body{

    background: #f5f5f5;

    font-family: "Segoe UI", Arial, sans-serif;

}

/*
====================================
SIDEBAR
====================================
*/


.sidebar{
    min-height: 100vh;
    background-color: #0d6efd;
    padding: 20px;
}

.sidebar .nav-link{
    color: white;
    transition: 0.3s;
}

.sidebar .nav-link:hover{
    background-color: rgba(255,255,255,0.15);
    border-radius: 5px;
}


/*
====================================
HEADER
====================================
*/

/*
====================================
NAVBAR
====================================
*/

/*
====================================
CARDS
====================================
*/

/*
====================================
DASHBOARD
====================================
*/