<div class="sidebar">

    <h5 class="mb-4">
        Menu
    </h5>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link" href="#">
                🏠 Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                👤 Clientes
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                🚘 Veículos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                📋 Ordens
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                📦 Estoque
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                💰 Financeiro
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                👥 Funcionários
            </a>
        </li>

    </ul>

</div>