<div class="sidebar">

    <h5 class="mb-4">
        Menu
    </h5>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
                🏠 Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_clientes' %}">
                👤 Clientes
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_veiculos' %}">
                🚘 Veículos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_ordens' %}">
                📋 Ordens
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_estoque' %}">
                📦 Estoque
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_financeiro' %}">
                💰 Financeiro
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_funcionarios' %}">
                👥 Funcionários
            </a>
        </li>

    </ul>

</div>